.image img{
    width: 13px;
    height: 13px;
}

.image{
    width: 40px;
    height: 40px;
    background-color: #262E38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: left;
}

.text h1{
    color: var(--Pure-White, #FFF);
    font-family: Overpass;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text p{
    color: var(--Light-Grey, #969FAD);
    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}