.App {
  text-align: center;
  border-radius: 15px;
  background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
  color: white;

}

body{
  background-color: #131518;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranks{
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-top: 24px;
}

